.cache
.idea
.coverage*
htmlcov
.settings
dist
.eggs/
eggs/
*.egg-info/
test-reports/*
doc_template/examples/nb/connectivity/experiment_*
doc_template/examples/nb/Website_Inquiry_RT_45792 /experiment_*
*pyc
.eggs/
.pytest_cache/
allensdk.egg-info/
.vscode/
debug.log
*~
*#*#
**.ipynb_checkpoints**
.vscode/
.mypy_cache/
/cell_types/
example_ecephys_project_cache/