pep8
flake8
pylint
numpydoc
jupyter
# from here on, this file should contain a subset of the packages specified in requirements.txt
# some packages are excluded because they can't be installed on readthedocs
# these ought to be mocked out in doc_template/conf.py so that docs are generated for allensdk modules that import 
# those packages
# known examples: tables
psycopg2-binary
h5py
matplotlib
numpy<1.24
pandas==1.5.3
jinja2
scipy<1.11
six
pynrrd
future
requests
requests-toolbelt
simplejson
scikit-image
scikit-build
statsmodels
simpleitk
argschema
glymur
xarray<2023.2.0
hdmf!=3.5.*,!=3.6.*,!=3.7.*,!=3.8.*
pynwb
seaborn
aiohttp
nest_asyncio
docutils
markupsafe
