psycopg2-binary>=2.7
h5py>=2.8
matplotlib>=1.4.3
numpy>=1.15.4
pandas>=0.23.0
jinja2>=2.7.3
scipy>=0.15.1
six>=1.9.0
pynrrd>=0.2.1
future >= 0.14.3
requests
requests-toolbelt
simplejson>=3.10.0
scikit-image>=0.14.0
scikit-build
statsmodels==0.9.0
simpleitk
argschema
marshmallow==3.0.0rc6
matplotlib==3.0.3
mistune==0.8.4
mock==3.0.5
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
notebook==5.7.8
numexpr==2.6.9
numpy==1.15.4
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.4.0
patsy==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
psycopg2==2.8.2
psycopg2-binary==2.8.2
ptyprocess==0.6.0
Pygments==2.4.0
pynrrd==0.4.0
pynwb==1.0.2
tables==3.5.1 # pinning this because updates tend to not include wheels immediately
seaborn
