psycopg2-binary
hdmf<=3.6.1
h5py
matplotlib
numpy<1.25
pandas
jinja2
scipy<1.11
six
pynrrd
future
requests
requests-toolbelt
simplejson
scikit-image
scikit-build
statsmodels
simpleitk
argschema
glymur
xarray<2023.2.0
pynwb
tables
seaborn
aiohttp
nest_asyncio
tqdm
ndx-events
boto3
semver
cachetools
sqlalchemy
python-dateutil
