-e git+https://github.com/nataliaorlova/AllenSDK_Natalia_Meso.git@f88f273ebc890a31807f3e028308bbb0ec2e1c18#egg=allensdk
argschema==1.17.5
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
decorator==4.4.0
deepdish==0.3.6
defusedxml==0.6.0
entrypoints==0.3
future==0.17.1
glymur==0.8.18
h5py==2.9.0
hdmf==1.0.2
idna==2.8
imagecodecs==2019.5.22
imageio==2.5.0
ipykernel==5.1.0
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
marshmallow==3.0.0rc6
matplotlib==3.0.3
mistune==0.8.4
mock==3.0.5
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
notebook==5.7.8
numexpr==2.6.9
numpy==1.15.4
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.4.0
patsy==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
psycopg2==2.8.2
psycopg2-binary==2.8.2
ptyprocess==0.6.0
Pygments==2.4.0
pynrrd==0.4.0
pynwb==1.0.2
pyparsing==2.4.0
pyrsistent==0.15.1
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
pywinpty==0.5.5
pyyaml==5.1.1
pyzmq==18.0.1
qtconsole==4.4.4
requests==2.21.0
requests-toolbelt==0.9.1
ruamel.yaml==0.15.94
scikit-build==0.9.0
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
simpleitk==1.2.0
simplejson==3.16.0
six==1.12.0
statsmodels==0.9.0
tables==3.5.1
terminado==0.8.2
testpath==0.4.2
tifffile==2019.3.18
tornado==6.0.2
traitlets==4.3.2
urllib3==1.24.3
-e git+https://github.com/nataliaorlova/visual_behavior_analysis.git@f994d1b4f1200df1f1e1b81b6a642e23911e0bf2#egg=visual_behavior
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
xarray==0.12.1
zipfile36==0.1.3
