psycopg2-binary
hdmf!=3.5.*,!=3.6.*,!=3.7.*,!=3.8.*
h5py
matplotlib
numpy>=1.24,<2
pandas>=2.0
jinja2
scipy>=1.11
six
pynrrd
future
requests
requests-toolbelt
simplejson
scikit-image
scikit-build
statsmodels
simpleitk
argschema
glymur
xarray
pynwb
tables
seaborn
aiohttp
nest_asyncio
tqdm
ndx-events
boto3
semver
cachetools
sqlalchemy
python-dateutil
