pytest>=4.4.0,<6.0.0
pytest-cov>=2.6.1,<3.0.0
pytest-cover>=3.0.0,<4.0.0
pytest-pep8>=1.0.6,<2.0.0
pytest-xdist>=1.14,<2.0.0
pytest-mock>=1.5.0,<3.0.0
mock>=1.0.1,<5.0.0
coverage>=3.7.1,<6.0.0
# these overlap with requirements specified in doc_requirements. As long as they are needed, these specifications must be kept in sync
# TODO: see if we can avoid duplicating these requirements - this will involved surveying CI
pep8==1.7.0,<2.0.0
flake8>=1.5.0,<4.0.0
pylint>=1.5.4,<3.0.0
numpydoc>=0.6.0,<1.0.0
jupyter>=1.0.0,<2.0.0