pytest
pytest-cov
pytest-cover
pytest-pep8
pytest-xdist
pytest-mock
mock
coverage
moto
# these overlap with requirements specified in doc_requirements. As long as they are needed, these specifications must be kept in sync
# TODO: see if we can avoid duplicating these requirements - this will involved surveying CI
pep8
flake8
pylint
jinja2>=2.7.3
numpydoc
jupyter
markupsafe