name: osx-builds
on: [pull_request]
env:
  TEST_NWB_FILES: skip
  TEST_OBSERVATORY_EXPERIMENT_PLOTS_DATA: skip
  TEST_API_ENDPOINT: http://api.brain-map.org
  TEST_COMPLETE: false
  TEST_BAMBOO: false
  LIMS_DBNAME: db
  LIMS_PORT: 1234
  LIMS_PASSWORD: password
  LIMS_HOST: host
  LIMS_USER: user
  MTRAIN_DBNAME: db
  MTRAIN_USER: user
  MTRAIN_HOST: host
  MTRAIN_PORT: 1234
  MTRAIN_PASSWORD: password

jobs:
  osx:
    name: ${{ matrix.python-version }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["macos-latest"]
        python-version: ["3.6", "3.7"]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          activate-environment: test-env
      - name: Install
        run: |
          conda activate test-env
          pip install codecov
          pip install -r test_requirements.txt
          pip install .
      - name: Test
        run: |
          py.test --cov=allensdk -n 4 --durations=0
