name: ci/github-actions
on:
  push:
    branches:
      - master
  pull_request:
env:
  TEST_NWB_FILES: skip
  TEST_OBSERVATORY_EXPERIMENT_PLOTS_DATA: skip
  TEST_API_ENDPOINT: http://api.brain-map.org
  TEST_COMPLETE: false
  TEST_BAMBOO: false
  LIMS_DBNAME: db
  LIMS_PORT: 1234
  LIMS_PASSWORD: password
  LIMS_HOST: host
  LIMS_USER: user
  MTRAIN_DBNAME: db
  MTRAIN_USER: user
  MTRAIN_HOST: host
  MTRAIN_PORT: 1234
  MTRAIN_PASSWORD: password

jobs:
  lint:
    name: Lint
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - name: flake8 linting
        run: |
          pip install flake8
          export PATH="/home/runner/.local/bin:${PATH}"
          git fetch origin master
          # `|| true` to force exit code 0 even if no files found
          CHANGED_PYFILES=$(git diff --name-only --diff-filter AM origin/master allensdk | grep -e ".*.py$" || true)
          echo "List of changed files:"
          echo ${CHANGED_PYFILES}
          flake8 ${CHANGED_PYFILES} --count

  allensdk:
    name: ${{ matrix.python-version }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10", "3.13"]
        include:
          - os: "macos-latest"
            python-version: "3.13"
          - os: "windows-latest"
            python-version: "3.13"
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml
      - name: Install
        run: |
          pip install -e ".[test]"
      - name: Test
        run: |
          python -m pytest -n 4 ${{ (matrix.os == 'ubuntu-latest' && matrix.python-version == '3.13') && '--cov=allensdk' || '' }}

  onprem:
    name: python ${{ matrix.image }} on-prem test
    runs-on: ["self-hosted"]
    strategy:
      matrix:
        image: ["allensdk_local_py38:latest"]
    steps:
      - uses: actions/checkout@v4
      - name: run test in docker
        run: |
          docker run \
              --env-file ~/env.list \
              --mount type=bind,source=$PWD,target=/home/ghworker,bind-propagation=rshared \
              --mount type=bind,source=/data/informatics/module_test_data/,target=/data/informatics/module_test_data/,bind-propagation=rshared,ro \
              --mount type=bind,source=/allen/,target=/allen/,bind-propagation=rshared,ro \
              --mount type=tmpfs,destination=/tmp \
              --rm \
              ${{ matrix.image }} \
                  /bin/bash -c "pip install -e '.[test]'; \
                                python -m pytest \
                                    --log-level=INFO \
                                    --capture=no \
                                    --cov=allensdk \
                                    --cov-config coveragerc \
                                    --cov-report html \
                                    --junitxml=test-reports/test.xml \
                                    --boxed \
                                    --numprocesses auto \
                                    --durations=0"
